
.container_header{
background-color:black;
color: white;
height: 10vh;
}
.header{
background-repeat: no-repeat;
background-size: cover;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 30vh;
background: center;
}

.container_body{

margin-top: 40vh;
margin-bottom: 20vh;
width: 60%;
margin-left:20%;
}
.container_footer{
background-color: black;
color: white;
height: 10vh;
font-size: 50px;
position: fixed;
bottom:0;
width:100%;

}

.navbar{
display: flex;
justify-content: end;
}

.navitem{
color: white;
margin-right: 50px;
text-decoration: none;
}

.login_title{
text-align: center;
}

.login_form{
text-align:center;
}

.btn{
margin-left: 70%;
}

.posts{
text-decoration: none;
color: black;
}

.svg{
display: flex;
justify-content: center;
padding-top: 10px;
}
.svg-item{
margin-right: 20px;
}

.comment_form{
font-weight: bold;
margin-top: 50px;
}

.comment_text{
margin-top: 50px;
}

.flash_message{
color: red;
margin-bottom: 20px;
}

.delete_button{
margin-bottom: 40px;
}

.container-for-all{
display:flex;
flex-direction:column;
}